@import './styles/fonts/index.css';
@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/variants.css';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
  @apply text-text-primary bg-primary-990;
  --h-screen: calc(var(--vh, 1vh) * 100);
  font-size: max(1em, min(1.4vmin, 1.2vw));
  @media screen and (max-width: 400px) and (orientation: portrait),
    (max-height: 400px) and (orientation: landscape) {
    font-size: 85%;
  }
  body {
    @apply overflow-x-hidden;
    /* #app {
      width: 100vw;
    } */
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: 0.5rem;
  scrollbar-color: theme('colors.primary.600') transparent;
  @media (hover: hover) and (pointer: fine) {
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-primary-600 rounded-lg;
    }
  }
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  &::-moz-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fillSVG path[fill]:not([fill*='none']):not([data-ignore-fill]),
.fillSVG rect[fill]:not([fill*='none']):not([data-ignore-fill]),
.fillSVG g[fill]:not([fill*='none']):not([data-ignore-fill]) {
  fill: currentColor;
}
.fillStroke path[stroke]:not([stroke*='none']):not([data-ignore-stroke]),
.fillStroke rect[stroke]:not([stroke*='none']):not([data-ignore-stroke]),
.fillSVG g[stroke]:not([stroke*='none']):not([data-ignore-stroke]) {
  stroke: currentColor;
}

/* svg {
  shape-rendering: optimizeSpeed;
} */

@keyframes pulse-strong {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
    filter: brightness(0.5);
  }
}

.animate-pulse-strong {
  animation: pulse-strong 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
